.hor-aln{
    float: left;
    padding-right: 15%;
    width: 10%;
}

.popover-title{
    background-color: #676767;
    color: black;
}

.error {
color: #ff0000;
font-style: italic;
}

.popover-content{
    background: #CCC;
}

.popover{
	position:relative;
	width:600px;
    max-width: none; 
}

.borderless td, .borderless th {
    border: none  !important;
}

.ui-widget-header, .ui-state-default, ui-button {
	background: #5789B4;
	border: 1px solid #5789B4;
	color: #FFFFFF;
	font-weight: bold;
	font-size: x-large;
	border-radius: 0 !important;
}

.ui-dialog {
	padding: 0 !important;	
}
.ui-widget-content {
border: 0;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}

.panel-primary>.panel-heading {
	border-radius: 0 !important;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #9E9E9E;
    border-color: #9E9E9E;
}

.borderless td, .borderless th {
	border: none !important;
}

.well {
     margin-bottom: 0 !important;
 }